$white:#fff;
$light:#fff;
$black:#000;
$dark:#000;
$currentColor:#00a38b;
$grey: #f2f2f2;
$darkgrey:#818181;


// small device
$screen-sm: 0; 
// medium device
$screen-mds: 640px;
$screen-md: 768px;
// large device
$screen-mdm: 950px;
$screen-lg: 1200px;
$screen-lgg: 1400px;

$header-height-md: 50px;
$header-height-lg: 60px;