@mixin transition($duree:.4s, $delay:.0s, $effect:ease-in-out){
  transition: all $duree $delay $effect;
}
@mixin absCenter{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
