//IMPORTS
@import "import/import.reset.scss";
@import "import/import.fonts.scss";
@import "import/import.animations.scss";
@import "import/import.variables.scss";
@import "import/import.mixins.scss";

//STYLES
*:focus {
    outline: none;
}
.no_desktop{
	@media screen and (min-width: $screen-md) {
		display:none;
	}
}
.sprite{
	background: url("../img/diaw_sprite.svg") no-repeat;			
	background-size: 500px 500px;
}
.pint-embed{
    &>span{
        display: block;
        margin: 0 auto;
    }
    a{
        font-size: 0;
    }
}
.ads-first{
	display: block;
	margin: 0  auto;
	text-align: center;
}
/* Commun */
html,body{
	color: $black;
    height: 100%;
    font-family: 'Lato', sans-serif !important;
    position: relative;
}
.container-main, .container{
	height: 100%;
	width: 100%;
	max-width: $screen-lg;
	margin: auto;
	box-sizing:border-box;
	font-size: 0;
}
a{
	text-decoration: none;
}
.search-wrapper{
	background: rgba(255, 255, 255, .9);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 500;
	display: none;
	opacity: 0;
	// @include transition(.4s);
	transition: opacity .9s .1s ease-in-out;
	&.active{
		display: block;
		opacity: 1;
	}
	.search-closebtn{
		display: block;
		position: fixed;
		z-index: 10px;
		cursor: pointer;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 5px;
		right: 10px;
		cursor: pointer;
		padding: 0;
		@media screen and (min-width: $screen-md) {
			top: 20px;
			right: 24px;
		}
		&:hover{
			span{
				&:before{
					transform:translate(0,0) rotate(135deg);
				}
				&:after{
					transform:translate(0,0) rotate(45deg);
				}
			}
		}
		span{
			display: block;
			width: 100%;
			height: 2px;
			background: transparent;
			position: relative;
			top: 50%;
			left: 50%;
			transform:translate(-50%, -50%);
			&:before, &:after{
				content:"";
				background-color: $black;
				display: block;
				width: 100%;
				height: 3px;
				position: absolute;
				top: 0%;
				@include transition(.2s);
			}
			&:before{
				transform:translate(0,0) rotate(45deg);
			}
			&:after{
				transform:translate(0,0) rotate(-45deg);
			}
			
		}
	}
	.search-form{
		margin: 40px auto;
		width: 80%;
		@media screen and (min-width: $screen-md) {
			margin: 0;
			@include absCenter;
		}
		input{
			border:none;
			background: none;
			font-size: 30px;
			width: 100%;
			height: 100px;
			color: $light;
			// text-transform: uppercase;
			text-align: center;
			font-family: 'Lato', sans-serif;
			&:focus {
			    outline: none;
			}
			@media screen and (min-width: $screen-md) {
				font-size: 50px;
			}
		}
		.search-btn{
			height: auto;
			padding: 10px;
			cursor: pointer;
			@media screen and (min-width: $screen-md) {
				display: none;
			}
		}
	}
}
.cookie-box{
	display: none;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 401;
	background-color: $light;
	box-sizing:border-box;
	@media screen and (min-width: $screen-md) {
		top: 0;
		bottom: initial;
	}
	.container-main{
		padding: 20px;
		height: auto;
		font-size: 10px;
		line-height: 12px;
		text-align: center;
		color: $dark;
		margin: 0 auto;
		box-sizing:border-box;
		max-width: calc( 100% - 20px) !important;
		@media screen and (min-width: $screen-mds) {
			font-size: 14px;
			line-height: 18px;
			padding: 10px;
		}
		.cookie-closebtn{
			display: block;
			position: fixed;
			z-index: 10px;
			cursor: pointer;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 5px;
			right: 5px;
			cursor: pointer;
			padding: 0;
			@media screen and (min-width: $screen-md) {
				top: 10px;
				right: 20px;
			}
			&:hover{
				span{
					&:before{
						transform:translate(0,0) rotate(135deg);
					}
					&:after{
						transform:translate(0,0) rotate(45deg);
					}
				}
			}
			span{
				display: block;
				width: 100%;
				height: 2px;
				background: transparent;
				position: relative;
				top: 50%;
				left: 50%;
				transform:translate(-50%, -50%);
				&:before, &:after{
					content:"";
					background-color: $black;
					display: block;
					width: 100%;
					height: 3px;
					position: absolute;
					top: 0%;
					@include transition(.2s);
				}
				&:before{
					transform:translate(0,0) rotate(45deg);
				}
				&:after{
					transform:translate(0,0) rotate(-45deg);
				}
				
			}
		}
	}
}
.backtotop{
	display: none;
	@media screen and (min-width: $screen-lgg) {
		display: block;
		width: 50px;
		height: 35px;
		position: fixed;
		z-index: 400;
		bottom: 15px;
		right: 30px;
		transition: all .2s ease-in-out;
		transform:rotate(0deg);
		animation-name: shake;
    	animation-duration: 1.5s;
    	animation-delay: 2s;
    	animation-iteration-count: infinite;
		@keyframes shake {
		   	0% {bottom: 15px;}
		    50% {bottom: 10px;}
		    100% {bottom: 15px;}
		}
		&.visible{
			display: block;
		}
		&.active{
			transform:rotate(180deg);
			cursor: pointer;
		}
		div.div-before{
			display: block;
			height: 5px;
			width: 30px;
			background: $currentColor;
			transform:rotate(40deg);
			position: absolute;
			left: 0;
			top: 15px;
			box-shadow: 0 0 2px rgba(0,0,0,.1);
		}
		div.div-after{
			display: block;
			height: 5px;
			width: 30px;
			background: $currentColor;
			transform:rotate(-40deg);
			position: absolute;
			top: 15px;
			right: 0;
			box-shadow: 0 0 2px rgba(0,0,0,.1);
		}
	}
}
.concours{
	position: relative;
	margin: 0 auto;
	background: $grey;
	box-sizing:border-box;
	width: 300px;
	height: 250px;
	vertical-align: top;
	z-index: 5;
	h3{
		width: 100%;
		font-size: 26px;
		text-transform: uppercase;
		font-weight: 800;
		text-align: center;
		color: $currentColor;
		position: absolute;
		top: -15px;
		left: 50%;
		transform:translateX(-50%);
		z-index: 10;
	}
	p{
		padding-top: 40px;
		font-size: 16px;
		text-align: center;
		color: $black;
	}
	article{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 8;
		figure{
			width: 100%;
			height: 100%;
			&:after{
				@media screen and (min-width: $screen-mds) {
					background:none;
				}
			}
			img{
				display: block;
				width: 100%;
			}
			figcaption{
				width: 100%;
				left: 0;
				bottom: 0;
				position: relative;
				h4{
					font-size: 90px;
					color: white;
					font-size: 16px;
					box-sizing:border-box;
					position: absolute;
					width: 100%;
					left: 0;
					bottom: 0;
					background: $currentColor;
					padding:20px;
					text-align: center;
					text-transform: uppercase;
				}
			}
		}
	}
}
.fav{
	position: relative;
	margin: 0 auto;
	background: $grey;
	box-sizing:border-box;
	width: 300px;
	height: 250px;
	vertical-align: top;
	z-index: 5;
	padding: 20px;
	h3{
		width: 100%;
		font-size: 26px;
		text-transform: uppercase;
		font-weight: 800;
		text-align: center;
		color: $currentColor;
		position: absolute;
		top: -15px;
		left: 50%;
		transform:translateX(-50%);
		z-index: 10;
	}
	article{
		box-sizing:border-box;						
		width: 100%;
		height: auto;
		margin: 15px 0;
		max-height: 30%;
		overflow:hidden;
		position: relative;
		.fav-category{
			text-transform: uppercase;
			font-weight: 700;
			font-size: 16px;
			color: $currentColor;
			&:before{
				content:"#";
			}
		}
		a{
			h4{
				font-size: 90px;
				color: black;
				font-size: 16px;
			}
		}
	}
}
.home header{
	@media screen and (min-width: $screen-md) {
		position: relative;
		height: 100%;
	}
}
header{
	box-sizing:border-box;
	width: 100%;
	height: 40px;
	position: relative;
	@media screen and (min-width: $screen-md) {
		height: 50px;
		overflow: hidden;
	}
	@media screen and (min-width: $screen-lg) {
		height: 60px;
	}
	.swiper-container-test{
		box-sizing:border-box;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: fixed;
		@media screen and (min-width: $screen-md) {
			display: block;
		}
		.swiper-wrapper{
			position: relative;
			top: 0;
			left: 0;
			.swiper-slide{
				&:after{
					content:'';
					background: linear-gradient(to bottom, transparent, #fff);
				}
				.container{
					display:block;
					position: relative;
					z-index: 500;
					height: 100%;
					width: 100%;
					max-width: $screen-lg;
					margin: 0 auto;
					article{
						position: absolute;
						bottom:15%;
						font-size: 20px;
						color: black;
						z-index: 18;
						margin: 0 20px;
						box-sizing:border-box;
						transition: all 1s .2s ease-in-out;
						@media screen and (min-width: $screen-lg) {
							margin: 0;
							opacity: 0;
						}
						.category{
							a{
								text-transform: uppercase;
								color: $white;
								background:$currentColor; 
								padding: 2px 5px;
								font-size: 18px;
								letter-spacing: 2px;
								&:before{
									content:"#";
								}
								@media screen and (min-width: $screen-lg) {
									font-size: 24px;
								}
							}
						}
						h2{
							a{
								cursor: pointer;
								position: relative;
								z-index: 30;
								display: block;
								font-family: 'Crimson Text', serif;
								font-size: 40px;
								padding: 10px 0;
								color: $black;
								@media screen and (min-width: $screen-lg) {
									font-size: 60px;
								}
							}
						}
						p{
							font-size: 16px;
							color: $black;
							@media screen and (min-width: $screen-lg) {
								font-size: 18px;
							}
						}
					}
				}
				&:after{
					content: "";
					background:linear-gradient(to bottom, transparent, $white);
					background-size: cover;
					display: block;
					height:70%;
					width: 100%;
					position: absolute;
					left: 0;
					bottom: 0;
					z-index: 4;
				}
				.cover{
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform:translate(-50%,-50%);
					img{
						display: block;
						width: 100vw;
						height: 100vh;
						object-fit: cover;
					}
				}
				&.swiper-slide-active{
					opacity: 1;
					position: relative;
					article{
						@media screen and (min-width: $screen-lg) {
							margin-bottom: 40px;
							opacity: 1;
						}
					}
				}
			}
		}
		&>.container{
			position: absolute;
			top: 0;
			left: 50%;
			height: 50%;
			transform:translateX(-50%);
			z-index: 250;
			.link-logo{
				background:$currentColor; 
				display: block;
				height: 130px;
				width: 400px;
				z-index: 15;
				position: absolute;
				top: 20%;
				right: 0;
				opacity: 0;
				transition: all .8s ease-in-out;
				@media screen and (min-width: $screen-lg) {
					.div-after{
						transition: all .5s ease-in-out;
						display: block;
						height: 130px;
						width: 300%;
						position: absolute;
						right: -300%;
						top: 0;
					}
				}
				&.start{
					opacity: 1;
					top: 20%;
				}
				.logo{
					box-sizing:border-box;
					padding: 30px 20px 10px 20px;
					width: 100%;
				}
			}
		}
	}
	.menu-wrapper{
		width: 100%;
		height: 100%;
		position: relative;
		transition: all .6s ease-in-out;
		@media screen and (min-width: $screen-md) {
			position: absolute;
			bottom: -50px;
			left: 0;
			height: 50px;
			&.start{
				bottom: 0;
			}
			&.fixed{
				top:0px;
			}
		}
		@media screen and (min-width: $screen-lg) {
			height: 60px;
		}
		.menu{
			box-sizing:border-box;
			background-color: $currentColor;
			height: 40px;
			width: 100%;
			position: fixed;
			z-index: 100;
			@media screen and (min-width: $screen-md) {
				position: relative;
				background-color: $white !important;
				height: 50px;
				border-bottom: 5px solid $currentColor;
				&.fixed{
					position: fixed;
				}
			}
			@media screen and (min-width: $screen-lg) {
				height: 60px;
			}
			.container-main{
				box-sizing:border-box;
				// padding: 10px;
				@media screen and (min-width: $screen-md) {
					padding: 7px 20px 0 20px;
				}
				@media screen and (min-width: $screen-lg) {
					padding: 15px 0px 0px 0px;
				}
				nav{
					height: 100%;
					width: 100%;
					position: relative;
					&>ul{
						display: inline-block;	
						font-size: 0;
						width: 100%;
						height: 40px;
						vertical-align: top;
						position: relative;
						top: 50%;
						transform:translateY(-50%);
						@media screen and (min-width: $screen-md) {
							top: 0;
							transform:translateY(0%);
						}
						.logo{
							padding: 10px;
							z-index: 99;
							@media screen and (min-width: $screen-md) {
								padding: 0;
								padding-right: 20px;
								padding-top: 5px;
							}
							@media screen and (min-width: $screen-lg) {
								padding: 0;
								padding-right: 40px;
							}
							a{
								z-index: 1000;
								position: relative;
								top: -10px;
								@media screen and (min-width: $screen-md) {
									top: 0px;
								}
								img{
									width: 130px;
									@media screen and (min-width: $screen-lg) {
										width: 170px;
									}
									&.img-mobile{
										@media screen and (min-width: $screen-md) {
											display: none;
										}
									}
									&.img-desktop{
										display: none;
										@media screen and (min-width: $screen-md) {
											display: block;
										}
									}
								}
							}
						}
						.burger{
							width: 25px;
							height: 25px;
							position: absolute;
							top: 5px;
							right: 10px;
							cursor: pointer;
							padding: 0;
							z-index: 100;
							@media screen and (min-width: $screen-md) {
								display: none;
							}
							&.active{
								span{
									background-color: transparent;
									transform:rotate(180deg);
								}
								span:before,span:after{
									top: 0px;
								} 
								span:before{
									transform:rotate(-225deg);
								}
								span:after{
									transform:rotate(225deg);
								}
							}
							span{
								background-color: $white;
								display: block;
								width: 100%;
								height: 3px;
								position: relative;
								top: 50%;
								transform:translateY(-50%);
								@include transition(.2s);
							}
							span:before, span:after{
								content:"";
								background-color: $white;
								@include transition(.4s);
								display: block;
								width: 100%;
								height: 3px;
								position: absolute;
							}
							span:before{
								top: 8px;
							}
							span:after{
								top: -8px;
							}
						}
						.responsive{
							position: fixed;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							padding: 0;
							text-align: center;
							z-index: 0;
							@media screen and (min-width: $screen-md) {
								text-align: left;
								position: relative;
								top: 5px;
								width:  calc(100% - 160px);
								height: 100%;
							}
							@media screen and (min-width: $screen-lg) {
								position: relative;
								top: 5px;
								width:  calc(100% - 340px);
								height: 100%;
							}
							.responsive-ul{
								position: absolute;
								top: 40px;
								left: 50%;
								width: 100%;
								height: auto;
								transform:translateX(-50%);
								@include transition(.2s);
								z-index: 2;
								background: rgba(255, 255, 255, .9);
								opacity: 0;
								display: none;
								@media screen and (min-width: $screen-md) {
									opacity: 1;
									display: inline-block;
									position: relative;
									top: 5px;
									left: 0;
									transform:translateX(0%);
									margin-top: 0px;
									height: auto;
									background: transparent;
								}
								@media screen and (min-width: $screen-lg) {
									top: 2px; 
								}
								.current-menu-item{
									a{
										span{
											color: $darkgrey;
										}
									}
								}
								&.active{
									opacity: 1;
									display: inline-block;
								}
								.lang{
									.lang-ul{
										margin:0;
										li{
											display: inline-block;
											position: relative;
											padding-right: 10px;
											&:after{
												content:'';
												display: inline-block;
												height: 14px;
												width: 2px;
												background-color: $black;
												position: absolute;
												top: 4px;
												right: 4px;
												@media screen and (min-width: $screen-md) {
													position: absolute;
													top: 1px;
													right: 4px;
												}
											}
											&.active a span:first-child{
												color: $currentColor;
											}
										}
										li:last-child{
											&:after{
												height: 0px;
												width: 0px;
											}
										}
									}
									@media screen and (min-width: $screen-md) {
										position: absolute;
										right:80px;
										top: 0px;
									}
								}
								.search{
									height: 26px;
									cursor: pointer;
									overflow: hidden;
									@media screen and (min-width: $screen-md) {
										height: 19px;
									}
									&:hover{
										img{
											@media screen and (min-width: $screen-md) {
												width: 18px;
												position: relative;
												top: -19px;
											}
										}
									}
									img{
										@include transition(.2s, 0s, ease);
										width: 26px;
										@media screen and (min-width: $screen-md) {
											width: 18px;
											position: relative;
											top: 0;
										}
									}
									img:nth-child(2){
										display: none;
										@media screen and (min-width: $screen-md) {
											display: block;
										}
									}
									@media screen and (min-width: $screen-md) {
										position: absolute;
										right:60px;
										top:-2px;
									}
								}
								.social{
									padding: 0;
									@media screen and (min-width: $screen-md) {
										position: absolute;
										right:0;
										top:-5px;
									}
									a, span{
										margin-right: 10px;
										cursor: pointer;
										@media screen and (min-width: $screen-md) {
											display: inline-block;
											margin-right: 5px;
											overflow: hidden;
											height: 20px;
										}
										&:last-child{
											margin-right: 0px;
										}
										&:hover{
											img{
												@media screen and (min-width: $screen-md) {
													top: -22px;
												}
											}
										}
										img{
											position: relative;
											top: 0;
											width: 30px;
											@media screen and (min-width: $screen-md) {
												width: 20px;
												@include transition(.2s, 0s, ease);
											}
											&:nth-of-type(2){
												display: none;
												@media screen and (min-width: $screen-md) {
													display: block;
												}
											}
										}
									}
								}
								&>li{
									margin: 20px 0;
									display: block;
									@media screen and (min-width: $screen-md) {
										display: inline-block;
										margin:0;
									}
								}
							}
						}
						.store{
							display: none;
							max-width: 100px;
							text-align: right;
							text-transform: uppercase;
							font-size: 12px;	
							font-weight: bold;
							height: 100%;
							z-index: 40;
							transition: all .5s ease-in-out;
							@media screen and (min-width: $screen-lg) {
								display: inline-block;
								position: absolute;
								right: 0;
								top: 0;
							}
							a{
								padding-top: 102px;
								display: block;
								height: 50px;
								width: 118px;
								position: relative;
								bottom: 105px;
								left: 0;
								vertical-align: bottom;
								div{
									display: block;
									width: 112px;
									height: 100px;
									position: absolute;
									top:14px;
									right: 14px;
									transform:rotate(6deg);
									z-index:-10;
									box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
									transition: all .2s ease-in-out;
									overflow: hidden;

								}
								img{
									width: 100%;
								}
								&:hover{
									div{
										top: 0;
										transform:rotate(0deg);
									}
								}
								span{
									color: $dark !important;
								}
							}
							&:after{
								content: "";
								display: block;
								width: 130px;
								height: 50px;
								background:$white;
								position: absolute;
								top:-15px;
								right: 0;
								z-index:-5;
							}
						}
						&>li{
							vertical-align: top;
						}
						li{
							font-size: 20px;
							display: inline-block;
							@media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
								font-size: 13px;
							}
							@media screen and (min-width: $screen-md) {
								padding-right: 10px;
							}
							@media screen and (min-width: $screen-lg) {
								font-size: 16px;
							}
							a{
								color: $black;
								text-transform: uppercase;
								// font-weight: bold;
								&.hover-effect{
									@media screen and (min-width: $screen-md) {
										display: inline-block;
										height: 14px;
										width: 100%;
										overflow: hidden;
										position: relative;
										// transition: 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
									}
									&:hover{
										span{
											// @include transition(.3s);
											position: relative;
											@media screen and (min-width: $screen-md) {
												top: -13px;
											}
											@media screen and (min-width: $screen-lg) {
												top: -16px;
											}
										}
									}
									span{
										top: 0px;
										@include transition(.3s);
									}
								}
								&.active{
									color: #808080;
									@media screen and (min-width: $screen-md) {
										color: #b4b4b4;
									}
								}
								span:nth-child(2){
									color: #b4b4b4;
									display: none;
									@media screen and (min-width: $screen-md) {
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/* index */
.main-wrapper{
	padding-top: 20px;
	padding-bottom: 20px;
	background: $white;
	position: relative;
	z-index: 50;
	@media screen and (min-width: $screen-md) {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	main{
		.container-main{
			padding: 0px 0;
			@media screen and (min-width: $screen-md) {
				padding: 37.5px 0;
				&:first-child{
					padding-top: 75px;
				}
				&:last-child{
					padding-bottom: 75px;
				}
			}
			.container-main{
				padding-top: 0;
				padding-bottom: 75px;
			}
			.actiefwonenRA2MW, .decoideesRA2MW{
				margin: 25px 0 !important;
			}
			.row{
				box-sizing:border-box;
				display: inline-block;
				width: calc(100% - 40px);
				margin: 20px;
				vertical-align: top;
				&.row-imu{
					text-align: center;
					@media screen and (max-width: $screen-mds) {
						display: block;
						margin: 20px auto;
						width: 300px;
					}
					.imu{
						font-size: 16px;
						margin: 0 auto;
						box-sizing:border-box;
						width: 300px;
						height: 250px;
						vertical-align: top;
						background:$grey;
					}
					&:after{
						content: "";
						display: block;
						width: 50px;
						height: 2px;
						background-color: $dark;
						margin: 40px auto 0;
						@media screen and (min-width: $screen-mds) {
							display: none;
						}
					}
				}
				&.row-concours, &.row-fav, &.row-news{
					display: none;
					@media screen and (min-width: $screen-mds) {
						display: inline-block;
					}
					.news{
						position: relative;
						margin: 0 auto;
						background: $grey;
						box-sizing:border-box;
						width: 300px;
						height: 250px;
						vertical-align: middle;
						z-index: 5;
						padding: 20px;
						div{
							text-align: center;
							text-transform: uppercase;
							font-weight: 800;
							font-size: 30px;
							color: $currentColor;
							&:before{
								content:"#";
							}
							display: block;
							position: relative;
							top: 50%;
							left: 50%;
							transform:translate(-50%,-50%);
						}
					}
				}
				@media screen and (min-width: $screen-mds) {
					width: calc(50% - 20px);
					margin:10px;
					&:nth-child(-n+6){
						padding-bottom: 50px;
					}
				}
				@media screen and (min-width: $screen-md) {
					&:nth-child(-n+6){
						padding-bottom: 0px;
					}
					&:nth-child(-n+4){
						padding-bottom: 50px;
					}
				}
				@media screen and (min-width: $screen-lg) {
					width: calc(33.33% - 20px);
					&.no-pad:nth-child(-n+4){
						padding-bottom: 0px;
					}
				}
				.post-second{
					margin: 0 auto;
					box-sizing:border-box;
					width: 100%;
					height: auto;
					@media screen and (min-width: $screen-mds) {
						max-width: 300px;
						max-height: 250px;
						width: 100%;
						height: 100%;
					}
					&>a{
						display: block;
						height: 100%;
						width: 100%;
					}	
					figure{
						box-sizing:border-box;
						position: relative;
						width: 100%;
						height: 100%;
						z-index: 10;
						cursor: pointer;
						@media screen and (min-width: $screen-mds) {
							max-width: 100%;
						}
						&:after{
							@media screen and (min-width: $screen-mds) {
								content:"";
								position: absolute;
								bottom:0;
								left: 0;
								background:linear-gradient(to bottom, transparent, rgba($black, .6));
								display: block;
								height: 50%;
								width: 100%;
							}
						}
						&:hover{
							figcaption{
								@media screen and (min-width: $screen-mds) {
									bottom: 0px;
								}
							}
							p{
								@media screen and (min-width: $screen-mds) {
									opacity: 1;
								}
							}
						}
						img{
							width: 100%;
							height: 100%;
						}
						figcaption{
							box-sizing:border-box;
							color: $white;
							padding: 20px;
							width: 100%;
							z-index: -5;
							transition: all .4s ease-in-out;
							vertical-align: bottom;
							font-family: 'Crimson Text', serif;
							&:after{
								content: "";
								display: block;
								width: 50px;
								height: 2px;
								background-color: $dark;
								margin: 20px auto 0;
								@media screen and (min-width: $screen-mds) {
									display: none;
								}
							}
							@media screen and (min-width: $screen-mds) {
								font-family: 'Lato', sans-serif;
								position: absolute;
								padding: 20px;
								left: 0;
								bottom: -30px;
								background: transparent;
								width: 100%;
								height: auto;
								min-height: auto;
								max-width: 100%;
								height: auto;
								z-index: 5;
							}
							.post-category{
								font-family: 'Lato', sans-serif;
								font-size: 16px;
								font-weight: bold;
								color: $light;
								text-transform: uppercase;
								display: block;
								text-align: center;
								margin-bottom: 10px;
								color: $light;
								padding: 5px;
								width: auto;
								@media screen and (min-width: $screen-mds) {
									margin:0;
									display: inline-block;
									text-align: right;
								}
								&:before{
									content:"#";
									display: inline-block;
								}
								_border{
									@media screen and (min-width: $screen-mds) {
										content:"";
										display: block;
										height: 2px;
										width: 100%;
										background: $currentColor;
										position: relative;
										top: 5px;							
									}
								}
							}
							h2{
								padding-bottom: 10px;
								font-size: 24px;
								color: $dark;
								text-align: center;
								@media screen and (min-width: $screen-mds) {
									text-shadow: 1px 1px 2px rgba(0,0,0,.3); 
									padding: 15px 0 5px ;
									font-size: 16px;
									color: $white;
									text-align: left;
								}
							}
							p{	
								font-family: 'Lato', sans-serif;
								font-size: 14px;
								transition: all .4s ease-in-out;
								text-align: center;
								color: $dark;
								display: none;
								@media screen and (min-width: $screen-mds) {
									text-shadow: 1px 1px 2px rgba(0,0,0,.3); 
									display: block;
									opacity: 0;
									text-align: left;
									color: $light;
								}
							}
						}
					}
				}
			}
			&.container-full{
				width: 100%;
				max-width: 100%;
				box-sizing:border-box;
				padding-bottom: 25px !important;
				@media screen and (min-width: $screen-mds) {
					display: block;
					padding-bottom: 60px !important;
				}
				@media screen and (min-width: $screen-lg) {
					width: 100%;
					height: 400px;
					max-width: $screen-lg;
					margin: auto;
				}
				.row-full{
					width: 100%;
					box-sizing:border-box;
					@media screen and (min-width: $screen-md) {
						height: 100%;
					}
					@media screen and (min-width: $screen-lg) {
						width: calc(100% - 100px);
						margin: 0 50px;
					}
					article{
						width: 100%;
						height: 100%;
						figure{
							position: relative;
							width: calc(100% - 40px);
							z-index: 30;
							margin:20px;
							box-sizing:border-box;
							@media screen and (min-width: $screen-mds) {
								width: 100%;
								margin:0px;
							}
							@media screen and (min-width: $screen-md) {
								overflow: hidden;
							}
							@media screen and (min-width: $screen-lg) {
								height: 100%;							
							}
							img{
								width: 100%;
								max-height: 100%;
								transition: all .2s ease-in-out;
							}
							@media screen and (min-width: $screen-md) {
								&:hover{
									img{
										transform: scale(1.05);
									}
								}
							}
							a{
								display: block;
								width: 100%;
								height: 100%;
								position: relative;
								img{
									display: block;
									width: 100%;
									position: relative;
									top: 50%;
									transform:translateY(-50%);
								}
							}
							@media screen and (min-width: $screen-mds) {
								div{
									display: block;
									width: 100%;
									height: 100%;
									background: $currentColor;
									opacity: .3;
									position: absolute;
									top: 0;
									left: 0;
								}
							}
							figcaption{
								text-align: center;
								width: 100%;
								position: relative;
								z-index: 30;
								padding: 20px;
								box-sizing:border-box;
								@media screen and (min-width: $screen-mds) {
									text-align: center;
									height: 100%;
									position: absolute;
									top: 50%;
									left: 50%;
									transform:translate(-50%, -50%);
								}
								&:after{
									content: "";
									display: block;
									width: 50px;
									height: 2px;
									background-color: $dark;
									margin: 20px auto 0;
									@media screen and (min-width: $screen-mds) {
										display: none;
									}
								}
								.publi_tag{
									font-family: 'Lato', sans-serif;
									font-size: 16px;
									font-weight: bold;
									color: $light;
									text-transform: uppercase;
									display: block;
									text-align: center;
									margin-bottom: 10px;
									color: $light;
									padding: 5px;
									width: auto;
									@media screen and (min-width: $screen-mds) {
										margin:0;
										display: inline-block;
										text-align: right;
										position: absolute;
										top: 20px;
										right: 0;
									}
								}
								.post-category{
									font-size: 16px;
									color: $light;
									text-transform: uppercase;
									margin-bottom: 10px;
								    display: block;
								    text-align: center;
								    padding: 5px;
								    font-weight: 700;
								    width: auto;
									&:before{
										content:"#";
									}
									@media screen and (min-width: $screen-mds) {
										color: $light;
										font-size: 20px;
										padding: 0;
										text-shadow: 1px 1px 2px rgba(0,0,0,.3); 
										background-color: transparent !important;
										position: relative;
										top: 45%;
										transform:translateY(-50%);
									}
								}
								.post-title{
									font-size: 25px;
									color: white;
									color: $dark;
									font-family: 'Crimson Text', serif;
									@media screen and (min-width: $screen-mds) {
										font-family: 'Lato', sans-serif;
										color: $light;
										font-size: 30px;
										max-width: 70%;
										margin: auto;
										text-shadow: 1px 1px 2px rgba(0,0,0,.3); 
										position: relative;
										top: 50%;
										transform:translateY(-50%);
									}
									@media screen and (min-width: $screen-lg) {
										font-size:35px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Single */
.single, .category, .page, .search, .search-results, .archive, .author, .page{
	.main-wrapper{
		padding-top: 20px;
		padding-bottom: 20px;
		background: $white;
		position: relative;
		font-size: 0;
		z-index: 50;
		@media screen and (min-width: $screen-md) {
			padding-top: 35px;
			padding-bottom: 50px;
		}
		main{
			.container-main{
				padding: 0 10px;
				@media screen and (min-width: $screen-md) {
					
				}
				@media screen and (min-width: $screen-lg) {
					padding: 0;
				}
				.full-content{
					width: 100%;
					margin-bottom: 20px;
					@media screen and (min-width: $screen-md) {
						margin-bottom: 20px;
					}
					.attachment-single{
						width: 100%;
					}
					.category{
						font-family: 'Crimson Text', serif;
						font-size: 25px;
						margin-bottom: 8px;
						font-weight: bold;
						text-align: center;
						@media screen and (min-width: $screen-md) {
							font-size: 50px;
							font-weight: normal;
							margin: 10px 0 15px;
						}
					}
					.desc-category{
						font-size: 16px;
						line-height: 19px;
						@media screen and (min-width: $screen-md) {
							margin-bottom: 8px;
							font-size: 18px;
							line-height: 22px;
						}
					}
					.sub-category{
						font-size: 16px;
    					margin-bottom: 12px;
						text-align: center;
						text-transform: uppercase;
						span{
							&:after{
								content: ' / ';
							}
							&:last-child{
								&:after{
									content: '  ';
								}
							}
						}
					}
				}
				.main-content{
					box-sizing:border-box;
					display: inline-block;
					width: 100%;
					font-size: 14px; 
					padding: 20px 0;
					padding-top: 10px;
					position: relative;
					letter-spacing: normal;
					font-weight: lighter;
					@media screen and (min-width: $screen-md) {
						width: calc(100% - 320px);
						padding: 0;
						margin-right: 20px;
						margin-top:15px;
						margin-bottom: 0px;
						font-size: 18px;
						padding-top: 0;
					}
					@media screen and (min-width: $screen-lg) {
						width: calc(100% - 350px);
						padding: 0;
						margin-right: 50px;
						font-size: 18px;
					}
					.header-content{
						display: block;
						text-align: center;
						.post-cat{
							font-size: 16px;
							font-weight: bold;
							text-align: center;
							margin-bottom: 25px;
							display: inline-block;
							width: auto;
							padding: 5px 5px; 
							a{
								text-transform: uppercase;
								font-size: 16px;
								//letter-spacing: 2px;
								color: $white !important;
								font-weight: normal;
								margin: 0 5px;
							}
						}
						.pub-date{
							font-size: 14px;
							line-height: 20px;
							text-align: center;
							display: inline-block;
							@media screen and (min-width: $screen-md) {
								font-size: 16px;
								line-height: 24px;
							}
						}
						.post-author{
							width: auto;
							display: inline-block;
							text-align: center;
						    position: relative;
						    margin: 0px;
						    font-size: 14px;
						    line-height: 20px;
						    font-weight: 400;
						    padding: 0px;
						    border: none;
						    background: none;
						    @media screen and (min-width: $screen-md) {
								font-size: 16px;
								line-height: 24px;
								font-weight: 500;
							}
						    &:after{
						    	display: none;
						    }
						    .author-name{
						    	text-decoration: underline;
								font-weight: 700;
						    }
						}
						.post-title{
							font-family: 'Crimson Text', serif;
							font-size: 25px;
							margin-bottom: 10px;
							text-align: center;
							@media screen and (min-width: $screen-md) {
								font-size: 50px;
								font-weight: light;
								margin-bottom: 20px;
							}
						}
						.category{
							font-family: 'Crimson Text', serif;
							font-size: 25px;
							margin-bottom: 5px;
							font-weight: bold;
							text-align: center;
							@media screen and (min-width: $screen-md) {
								font-size: 50px;
								font-weight: normal;
								margin-bottom: 12px;
							}
						}
						.post-subtitle{
							font-size: 18px;
							margin-bottom: 5px !important;
							text-align: center;
							@media screen and (min-width: $screen-md) {
								font-size: 18px;
								font-weight: bold;
								margin-bottom: 15px !important;
							}
						}
						.post-info{
							position: relative;
							font-size: 14px;
							margin-bottom: 20px;
							@media screen and (min-width: $screen-md) {
								font-size: 16px;
								min-height: 50px;
								margin-top: 10px;
							}
							.share{
								font-style: italic;
								margin-top: 10px;
								text-align: center;
								vertical-align: middle;	
								//display: none;
								// color: black;
								// position: absolute;
								// right: 0;
								// top: 0;
								@media screen and (min-width: $screen-md) {
									display: inline-block;
									width: 100%;
								}
								span{
								
								}
								a{
									height: 20px;
									display: inline-block;
									padding: 0 2px;
									&.sprite{
										&.sprite-fb{
											width: 30px;
											height: 30px;
											background-position: 0px 0px;
										}
										&.sprite-twitter{
											width: 30px;
											height: 30px;
											background-position: -30px 0px;
										}
										&.sprite-pint{
											width: 30px;
											height: 30px;
											background-position: -60px 0px;
										}
										&.sprite-mail{
											width: 30px;
											height: 30px;
											background-position: -90px 0px;
										}
									}
									@include transition(.1s);
									&:hover{
										opacity:.8;
									}
								}
							}
						}
					}
					.visuel{
						position: relative;
						margin-bottom: 20px;
						img{
							max-width: 100%;
						}
						.player_youtube_wrapper{
							position: relative;
						    padding-bottom: 56.25%; /* 16:9 */
						    padding-top: 25px;
						    height: 0;
						    iframe {
						    	position: absolute;
						       top: 0;
						       left: 0;
						       width:100%;
						       height:100%;
						       transform-origin: top left;
						    }
							.caption-div{
								display: none;
							}
							.copyright{
								display: none;
							}
						}
					}
					p{
						letter-spacing: normal;
						line-height: 20px;
						margin-bottom: 20px !important;
						@media screen and (min-width: $screen-md) {
							margin-bottom: 30px !important;
						}
					}
					.current-multipage{
						display: block;
						text-align: center;
					}
					.segment-multipage{
						position: relative;
						margin-top: 60px;
						padding-bottom: 10px;
						.current-multipage{
							top: -32px;
							left: 50%;
							transform:translateX(-50%);
							font-size: 2rem;
							position: absolute;
							font-family: 'Crimson Text', serif;
							border: 2px solid black;
							padding: 5px 15px;
							@media screen and (min-width: $screen-md) {
								font-size: 3rem;
								top: -42px;
								padding: 5px 10px;
							}
						}
					}
					.wp-caption-text{
						display: block;
						font-size: 12px;
						max-width: 100% !important;
						padding: 10px 5px;
						text-align: center;
						color: $darkgrey;
					}
					.wp-caption{
						max-width: 100% !important;
					}
					div{
						// width: 100%;
					}
					.aligncenter{
						display: block;
						margin:auto;
					}
					strong{
						font-weight: bold;
					}
					a{
						color: $currentColor;
						@include transition(.1s);
						&:hover{
							opacity:.8;
						}

					}
					.link-img{
						&:hover{
							opacity:1 !important;
						}
					}
					em{
						font-style: italic;
					}
					ul {
					    display: block;
    					list-style-type: disc;
    					margin: 1.5em;
					}
					ol {
					    display: block;
						list-style-type: decimal;
						margin: 5px 30px;
					}
					li{
						margin-bottom: 5px;
						font-size: 16px; 
						line-height: 20px;
						@media screen and (min-width: $screen-md) {
							font-size: 18px;
						}
					}
					h2{
						font-size: 18px;
						margin-bottom: 20px;
						text-align: center;
						@media screen and (min-width: $screen-md) {
							font-size: 25px;
							text-align: left;
						}
					}
					h3{
						font-size: 16px;
						margin-bottom: 20px;
						text-align: center;
						@media screen and (min-width: $screen-md) {
							font-size: 20px;
							text-align: center;
						}
					}
					h4, h5, h6{
						font-size: 14px;
						margin-bottom: 20px;
						text-align: center;
						@media screen and (min-width: $screen-md) {
							font-size: 18px;
							text-align: left;
						}
					}
					sup, sub {
					    font-size: 75%;
					    height: 0;
					    line-height: 0;
					    position: relative;
					    vertical-align: baseline;
					}
					iframe{
						max-width: 100%;
					}
					sup {
					    bottom: 1ex;
					}
					sub {
					    bottom: -1ex;
					}
					img{
						max-width: 100% !important;
						height: auto;
						display: inline-block;
						vertical-align: bottom;
						&.alignleft{
						float: left;
						margin-right: 20px;
						}
						&.aligncenter{
							display: block;
							margin: 20px auto;
						}
						&.alignright{
							float: right;
							margin-left: 20px;
						}
					}
					.alignleft{
						text-align: left;
					}
					.aligncenter{
						text-align: center;
					}
					.alignright{
						text-align: right;
					}
					.swiper-slide-wrapper{
						max-width: 600px;
						width: 100%;
						height: 450px;
						display: block;
						margin: 0 auto;
						position: relative;
						.swiper-container{
							height: 450px;
							width: 100%;
							img{
								max-width: 100% !important;
								max-height: 400px;
							}
						}
					}
					.img-gallery-container{
						display: inline-block;
						width: auto;
						left:50%;
						transform:translateX(-50%);
					}
					.img-gallery-container, .swiper-container{
						text-align: center;
						position: relative;
						.btn-back{
							position: absolute;
							top: 0px;
							left: 0;
							padding: 5px;
							color: white !important;
							font-weight: bold;
							text-transform: uppercase;
							font-size: 12px;
							@media screen and (min-width: $screen-md) {
								font-size: 14px;
							}
						}
						.img-counter{
							position: absolute;
							top: 0px;
							right:0;
							padding: 5px;
							color: white !important;
							font-weight: bold;
							text-transform: uppercase;
							font-size: 12px;
							@media screen and (min-width: $screen-md) {
								font-size: 16px;
							}
						}
						.image-control{
							width: 40px;
							height: 60px;
							display: block;
							position: absolute;
							background: none;
							span{
								width: 40px;
								height: 6px;
								display: block;
								position: absolute;
								left: 50%;
								&.control-top{
									top: 15px;
									transform: translateX(-50%) rotate(45deg);
								}
								&.control-bottom{
									transform: translateX(-50%) rotate(-45deg);
									bottom: 15px;
								}
							}
							&.previous{
								top: 50%;
								left: 0px;
								transform: translateY(-50%) rotate(180deg) scale(.5,.5);
								@media screen and (min-width: $screen-md) {
									transform: translateY(-50%) rotate(180deg) scale(1,1);
									left: 10px;
								}
							}
							&.next{
								top: 50%;
								right: 0px;
								transform: translateY(-50%) scale(.5,.5);
								@media screen and (min-width: $screen-md) {
									transform: translateY(-50%) scale(1,1);
									right: 10px;
								}
							}
						}
						.swiper-pagination{
							box-sizing:border-box;
							padding: 10px;
							.swiper-pagination-bullet{
								background: white;
								opacity: .8;
								box-shadow: 0px 0px 2px $darkgrey;
							}
						}
					}
					.swiper-slide{
						position: relative;
					}
					.swiper-slide-wrapper{
						.img-legend{
							position: absolute;
							top: 0;
							bottom: initial !important;
						}
					}
					.img-legend{
						box-sizing:border-box;
						width: 100%;
						font-size: 12px;
						margin-bottom: 0px;
						text-align: center;
						bottom: 60px;
						background: rgba($white, .6);
						@media screen and (min-width: $screen-md) {
							font-size: 14px;
							margin-bottom: 40px;
						}
						&.colored{
							background: #f2f2f2;
						}
						&.margin-nul{
							@media screen and (min-width: $screen-md) {
								margin-bottom: 0px;
							}
						}
						.titre{
							font-size: 12px;
							line-height: 14px;
							text-transform: none;
							padding: 5px;
							@media screen and (min-width: $screen-md) {
								font-size: 14px;
								line-height: 16px;
							}
							a{
								text-align: center;
							}
							p{
								text-align: center;
								margin-bottom:5px !important;
								@media screen and (min-width: $screen-md) {
									margin-bottom:10px !important;
								}
							}
						}
						.prix{
							font-size: 12px;
							line-height: 16px;
							text-transform: none;
							text-align: center;
							padding: 5px;
							@media screen and (min-width: $screen-md) {
								font-size: 14px;
								line-height: 18px;
							}
						}
					}
					.gallery-mos{
						display: inline-block;
						margin: auto !important;
						.gallery-item{
							float: left !important;
							margin-top: 10px !important;
							text-align: center !important;
							width: 20% !important;
							.gallery-icon{
								padding: 5px;
								box-sizing:border-box;
								img{
									border:none;
									max-width: 100% !important;
								}
							}
						}
						a{
							display: inline-block;
						    z-index: 999999;
						    position: relative;	
						}
					}
					.cat-article{
						font-size: 12px; 
						margin-bottom: 0px;
						@media screen and (min-width: $screen-md) {
							margin-bottom: 100px;
						}
						.cat-category{
							text-transform: uppercase;
							display: inline-block;
							background-color: $currentColor;
							font-size: 12px;
							padding: 10px 20px;
							color: $light;
							font-weight: bold;
							position: absolute;
							top: 20px;
							left: 0;
							width: auto;
							&:before{
								content:"#";
							}
							@media screen and (min-width: $screen-md) {
								font-size: 16px;
							}
						}
						figure{
							width: 100%;
							font-size: 0;
							position: relative;
							z-index: 10;
							img{
								display: inline-block;
								width: 100%;
								@media screen and (min-width: $screen-md) {
									width: 50%;
								}
							}
							figcaption{
								box-sizing:border-box;
								@media screen and (min-width: $screen-md) {
									width: 60%;
									background-color: $grey;
									position: absolute;
									top: 50px;
									right: 0;
									height: 100%;
									width: 60%;
									z-index: -10;
									padding: 20px;
								}
								&:after{
									content: "";
									display: block;
									width: 50px;
									height: 2px;
									background-color: $dark;
									margin: 0px auto 20px;
									@media screen and (min-width: $screen-md) {
										display: none;
									}
								}
								.content-box{
									@media screen and (min-width: $screen-md) {
										width: 80%;
										height: 90%;
										position: relative;
										left: 20%;
										z-index: 10;
									}
									.cat-info{
										font-size: 14px;
										margin-bottom: 20px;
										display: none;
										@media screen and (min-width: $screen-lg) {
											font-size: 16px;
											position: absolute;
											display: block;
											top: -50px;
											left: 0px;
										}
										.cat-date{
											display: block;
											margin-bottom: 5px;
											@media screen and (min-width: $screen-md) {
												display: inline-block;
												margin: 0;
												&:after{
													content:' | ';
												}
											}
										}
										.tags{
											text-transform: uppercase;
											font-weight: bold;
											color: $currentColor;
											&:after{
												content:' /';
											}
										}
										.cat-tags{
											font-weight: bold;
											text-transform: uppercase;
											margin-left: 4px;
										}
									}
									.cat-title{
										font-size: 18px;
										font-weight: 500;
										letter-spacing: 2px;
										text-align: center;
										margin-top: 10px;
										margin-bottom: 10px;
										@media screen and (min-width: $screen-md) {
											margin-bottom: 10px;
											font-size: 20px;
											text-align: left;
										}
										@media screen and (min-width: $screen-lg) {
											font-size: 24px;
											margin-bottom: 20px;
										}
									}
									.cat-link{
										color: $dark;
									}
									.cat-excerpt{
										font-size: 12px;
										color: $darkgrey;
										line-height: 20px;
										display: none;
										@media screen and (min-width: $screen-lg) {
											font-size: 16px;
											display: block;
										}
									}
									.cat-author{
										position: absolute;
										font-size: 12px;
										font-weight: bold;
										color:$currentColor;
										right: 0;
										bottom: 0;
										display: none;
										@media screen and (min-width: $screen-lg) {
											font-size: 16px;
											display: block;
										}
									}
								}
							}
						}
					}
					.btn-gallery{
						display: inline-block;
						width: auto;
						padding:10px 40px;
						color: $white;
						cursor: pointer;
						position: relative;
						left: 50%;
						transform:translateX(-50%);
						input{
							color:#ffffff !important;
							text-decoration:none;
							font-family:Georgia;
							border-radius: 0px;
							background: none;
							border:0;
							font-size: 16px;
							text-transform: uppercase;
							font-family: 'Crimson Text', serif;
							&:hover{
								opacity:.6;
							}
						}
					}
					#profil_news, #profil_inscr{
						font-size: 0;
					    position: relative;
					    box-sizing:border-box;
					    padding:0 20px;
					    width:100%;
					    @media screen and (min-width: $screen-md) {
							padding:20px 50px;
						}
						.civil{
							position: relative;
							text-align: left;
							label{
								padding:0 8px;
								height: 38px;
								line-height: 38px;
								vertical-align: middle;
								display: inline-block;
							}
							input[type=radio]{
								border:none;
							    width:auto;
							    display: inline-block;
							    width: auto;
							    vertical-align: middle;
							    margin-bottom: 0;
							}
						}
						p{
							text-align: left;
						}
						.required{
						    text-align: right;
						    font-size: 12px;
						    margin:10px 0;
    						@media screen and (min-width: $screen-md) {
								 margin:0;
								 min-height:38px;
								 vertical-align: bottom;
							}
						}
						&>div{
							position: relative;
						    width:100%;
						    box-sizing:border-box;
						    display: inline-block;
						    vertical-align: top;
						    font-size: 14px;
						    @media screen and (min-width: $screen-md) {
								position: relative;
						      	box-sizing:border-box;
						     	width:calc(50% - 10px);
						      	margin: 0 5px;
							}
						}
						div{
							input{
								width: 100%;
							}
						}
						.select-date{
							height:36px;
						    font-size: 0;
						    margin-bottom:10px;
						    select{
						    	display: block;
							    background-color:$grey;
							    box-sizing:border-box;
							    height:35px;
							    vertical-align: bottom;
						    }
						    #form_day{
						    	margin-right: 3px;
						    }
						    #form_year{
						    	margin-left: 3px;
						    }
						    #form_day, #form_year{
								width:20%;
    							box-sizing:border-box;
    							display: inline-block;
							    height:100%;
							}
							#form_month{
								display: inline-block;
								width: calc(60% - 6px);
     							box-sizing:border-box;
							    height:100%;
							}
						}
						.mag{
							padding:0;
						    background-color:transparent;
						    color:black;
						    margin-bottom:0;
						    width: 100%;
						    box-sizing:border-box;
						    font-size: 0px;
						    color:black;
						    margin-bottom:0;
						    @media screen and (min-width: $screen-md) {
								margin-bottom:40px;
								margin-top:20px;
							    margin-bottom:20px;
							    width:100%;
							}
							.custom-part{
								display: inline-block;
							    width:auto;
							    margin-right:5px;
							    input[type=checkbox]{
									width:25px;
								    margin-top:5px;
								    margin-bottom:5px;
								    margin-right: 5px;
								    min-height: 12px !important;
								    @media screen and (min-width: $screen-md) {
										width:20px;
									}
								}
								.label-checkpart{
									display:inline-block;
								}
							}
							.check-label{
								font-size: 13px;
							     display: inline-block;
							     vertical-align: top;
							     text-align: left;
							     width:85%;
							     @media screen and (min-width: $screen-md) {
									width:90%;
									margin-top: 5px;
								}
							}
							h2{
								font-size: 13px;
							    text-align: center;
							    margin-top:20px;
							    &:before{
							    	content:"";
								    display:block;
								    width:100px;
								    height:2px;
								    background-color: black;
								    margin:20px auto;
							    }
							}
							.wrap-card{
								width:100%;
							    height: auto;
							    margin:0;
							    margin: 0 10px 10px;
							    display: inline-block;
							    text-align: center;
							    position: relative;
							    vertical-align: top;
							    @media screen and (min-width: $screen-md) {
									width: calc(25% - 20px);
									&:nth-of-type(2){
										margin: 0 10px 10px 0;
									}
									&:nth-of-type(5){
										margin: 0 0 10px 10px;
									}
								}
								.custom-cb{
									.input-cb{
										width: 25px;
										position: relative;
									    z-index: 100;
									    margin:auto;
									    display: block;
									    @media screen and (min-width: $screen-md) {
											width: 20px;
										}
									}
								}
								.card{
									box-sizing:border-box;
								    width: 100%;
								    height: auto;
								    padding:10px;
								    text-align: center;
								    pointer-events: none;
								    transform: translateZ(0);
								    transition: all .2s ease-in-out;
								    box-shadow: 0 0 2px rgba(0,0,0,.1);
								    position: relative;
								    border:2px solid rgba(227,83,62,0);
								    .colored{
								    	box-shadow: 0 0 2px rgba(227,83,62,1);
    									border:2px solid rgba(227,83,62,.8);
								    }
									.card-content{
										.news-web{
											max-width: 100% !important;
										}
										.news-logo{
											width:80%;
										    position: absolute;
										    top: 50%;
										    left: 50%;
										    transform:translate(-50%, -50%) translateZ(20px);
										    opacity:1;
										}
									}
								}
							}
						}
						input{
							display: block;
						    width: 100%;
						    background-color:white;
						    margin-bottom:10px;
						    padding:5px;
						    box-sizing:border-box;
						    cursor:pointer;
						    display: block;
						    margin: 0 auto;
						    min-height:38px;
						    background:$grey;
						    @media screen and (min-width: $screen-md) {
								width: auto;
							}
						}
						input, textarea, select, .mag{
						    border:none;
						    margin-bottom:10px;
						    border-radius:0;
						    font-size: 14px;
						    padding: 5px;
						    @media screen and (min-width: $screen-md) {
								font-size: 16px;
							}
						}
						input[type=submit]{
							color: $light;
							min-width: 200px;
						}

					}
					#profil_inscr{
						h2{
							@media screen and (min-width: $screen-md) {
								text-align: center;
							}
						}
						p{
							margin-bottom: 10px !important;
							@media screen and (min-width: $screen-md) {
								text-align: center;
							}
						}
						div{
							width: 100% !important;
							margin: 0 !important;
							input{
								width: 100%;
							}
						}
						input[type=submit]{
							margin: 40px 0;
						}
					}
				}
			}
			.related-posts{
				width: 100%;
				box-sizing:border-box;
				font-size: 0;
				display: none;
				margin-bottom: 40px;
				@media screen and (min-width: $screen-md) {
					display: block;
				}
				.main-related-title{
					display: block;
					font-size: 14px;
					//font-weight: bold;
					font-family: 'Crimson Text', serif !important;
					text-align: center !important;
					color: $currentColor;
					margin: 20px 0  30px !important;
					@media screen and (min-width: $screen-md) {
						font-size: 2rem !important;
					}
				}
				.row{
					box-sizing:border-box;
					@media screen and (min-width: $screen-md) {
						display: inline-block !important;
						width: calc(33.33% - 20px) !important;
						margin: 0 10px !important;
					}
					.post-related{
						figure{
							@include transition(.2s);
							&:after{
								@media screen and (min-width: $screen-md) {
									content:"";
									position: absolute;
									bottom:0;
									left: 0;
									background:linear-gradient(to bottom, transparent, rgba($black, .6));
									display: block;
									height: 100%;
									width: 100%;
									z-index: 3;
								}
								@media screen and (min-width: $screen-lg) {
									height: 50%;
								}
							}
							figcaption{
								width: 100%;
								position: absolute;
								left: 0;
								bottom: 0;
								padding: 15px;
								box-sizing:border-box;
								z-index: 4;
							}
						}
					}
					.post-publi{
						figcaption{
							position: absolute;
							top: 20px;
							right: 0;
							background-color: $currentColor;
							padding: 5px 10px;
							color: white;
							display: block;
							@media screen and (min-width: $screen-lg) {
								padding: 5px 15px;
							}
						}
					}
					.post-related, .post-publi{
						position: relative;
						a{
							&:hover{
								opacity: 1 !important;
							}
						}
						figure{		
							overflow: hidden;						
							position: relative;
							img{
								transition: .2s ease;
							}
							&:hover{
								img{
									transform: scale(1.04);
								}
							}
							figcaption{
								z-index: 4;
								.related-category{
									font-size: 12px;
									text-align: center;
									display: block;
									width: 100%;
									font-weight: bold;
									text-transform: uppercase;
									@media screen and (min-width: $screen-lg) {
										font-size: 14px;
									}
									&:before{
										content:'#';
									}
									&:hover{
										opacity:1;
									}
								}
								.related-title{
									margin-top:10px;
									font-size: 12px;
									text-align: center;
									display: block;
									width: 100%;
									color: $light;
									@media screen and (min-width: $screen-lg) {
										font-size: 14px;
									}
								}
								.publi-title{
									font-size: 10px;
									text-transform: uppercase;
									font-weight: bold;
									margin-bottom: 0 !important;
									@media screen and (min-width: $screen-lg) {
										font-size: 14px;
									}
									a{
										color: white;
									}
								}
							}
						}
						img{
							width: 100%;
							height: auto;
						}
					}
				}
			}
			aside{
				position: relative;
				margin-top:15px;
				vertical-align: top;
				display: inline-block;
				width: 300px;
				box-sizing:border-box;
				display: none;
				&.active{
					position: fixed;
					right: 0;
					bottom: 0;
				}
				@media screen and (min-width: $screen-md) {
					display: inline-block;
				}
				.row{
					width: 100%;
					padding: 0;
					margin: 0;
				}
				.fav{
					//margin-bottom: 40px;
				}
				.concours{
					margin-bottom: 40px;
				}
				.halfpage{
					width: 300px;
					margin-bottom: 40px;
					font-size: 16px;
					&.active{
						z-index: 400;
						position: fixed;
						bottom: 0;
						right: 0;

					}
				}
			}
		}
	}
}
/* Single */
.single, .search, .search-results, .archive, .author, .page{
	.main-wrapper{
		main{
			.container-main{
				.full-content{
					text-align: center;
				}
				.main-content{
					p{
						font-size: 16px;
						line-height: 24px;
						text-align: center;
						@media screen and (min-width: $screen-md) {
							text-align: left;
							font-size: 18px;

						}
						&.p-404{
							text-align: center;
							font-size: 16px;
							@media screen and (min-width: $screen-md) {
								font-size: 20px;
							}
						}
					}
					.img-404{
						max-width: 600px !important;
						width: 100%;
						display: block;
						margin:auto;
					}
					.a-404{
						padding: 20px;
						display: block;
						text-align: center;
						font-weight: bold;
						margin:auto;
					}
				}
			}
		}
	}
}
footer{
	background: $white;
	color: $white;
	position: relative;
	z-index: 51;
	.footer-insta{
		background: $white;
		color: $black;
		display: none;
		z-index: 9;
		@media screen and (min-width: $screen-md) {
			display: block;
		}
		#sbi_load{
			padding: 0 !important;
		}
		.hashtag{
			font-family: 'Crimson Text', serif;
			font-size: 80px;
			color: $currentColor;
			text-align: center;
			position: absolute;
			left: 50%;
			transform:translateX(-50%);
			z-index: 10;
			@media screen and (min-width: $screen-md) {
				font-size: 60px;
				top: -40px;
			}
			@media screen and (min-width: $screen-lg) {
				font-size: 80px;
				top: -50px;
			}
		}
	}
	.footer-wrapper{
		width: 100%;
		background: $currentColor;
		box-sizing:border-box;
		display: inline-block;
		@media screen and (min-width: $screen-md) {
			padding: 0px 20px;
		}
		.footer-div{
			width: 100%;
			box-sizing:border-box;
			padding: 20px 10px;
			text-align: center;
			@media screen and (min-width: $screen-md) {
				display: inline-block;
				padding: 40px 0px;
				text-align: left;
				&:nth-child(1){
					width: 50%;
				}
				&:nth-child(2), &:nth-child(3){
					width: 25%;
				}
			}
			@media screen and (min-width: $screen-lg) {
				width: 33.33%;
			}
			a{
				@include transition(.2s);
				display: block;
				color: $white;
				font-size: 16px;
				&:hover{
					opacity: .8;
				}
				&.tarif{
					font-size: 22px;
					padding: 10px 0 10px 0;
					font-weight: bold;
					@media screen and (min-width: $screen-md) {
						padding: 10px 0 20px 0;
					}
				}
			}
			.footer-social{
				cursor: pointer;
				display: inline-block;
				@include transition(.2s);
				img{
					width: 20px;;
				}
				&:hover{
					opacity: .6;
				}
			}
		}
		.footer-left{
			.left{
				width: 160px;
				display: none;
				a{
					.footer-cover{
						width: 112px;
						height: 140px;
						@include transition(.2s);
					}
					&:hover{
						opacity: 1;
						img{
							transform: scale(1.05);
						}
					}
				}
				@media screen and (min-width: $screen-md) {
					display: inline-block;
					width: 140px;
				}
				@media screen and (min-width: $screen-lg) {
					display: inline-block;
					width: 160px;
				}
			}
			.right{
				width: 100%;
				display: inline-block;
				vertical-align: top;
				@media screen and (min-width: $screen-md) {
					width: calc(100% - 160px);
				}
				p{
					font-size: 15px;
				}
				form{
					width: 100%;
					position: relative;
					max-width: 350px;
					margin: 10px auto;
					border: 2px solid $white;
					box-shadow: none;
					@media screen and (min-width: $screen-md) {
						margin: 10px 0;
					}
					input{
						background: transparent;
						width: 100%;
						height: 36px;
						border: none;
						box-sizing:border-box;
						padding: 5px;
						display: block;
						font-size: 14px;
						color: $white;
						@media screen and (min-width: $screen-md) {
							width: 100%;
						}
					}
					:invalid {
					  box-shadow: none;
					}
					::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: $light;
					}
					::-moz-placeholder { /* Firefox 19+ */
					  color: $light;
					}
					:-ms-input-placeholder { /* IE 10+ */
					  color: $light;
					}
					:-moz-placeholder { /* Firefox 18- */
					  color: $light;
					}
					input[type='submit']{
						@include transition(.2s);
						display: block;
						position: absolute;
						width: 30px;
						height: 36px;
						top: 0;
						right: 5px;
						border:none;
						color: $white;
						font-size: 14px;
						cursor: pointer;
					}
				}
			}
		}
		.footer-center{
			vertical-align: top;
			font-size: 16px;
			display: none;
			@media screen and (min-width: $screen-md) {
				display: inline-block;
				padding-left: 20px;
			}
			@media screen and (min-width: $screen-lg) {
				padding-left: 70px;
			}
			span{
				display: block;
			}
			.commercial{
				padding-bottom: 10px;
			}
			a{
				font-size: 14px;
				padding-bottom: 4px;
			}
		}
		.footer-right{
			// font-family: 'Crimson Text', serif;
			font-size: 12px;
			vertical-align: top;
			text-align: center;
			padding-top: 0;
			@media screen and (min-width: $screen-md) {
				text-align: right;
				padding-top: 40px;
			}
			@media screen and (min-width: $screen-lg) {
				font-size: 14px;
			}
			img{
				padding-bottom: 10px;
			}
			a{
				padding: 0;
				font-size: 12px;
				@media screen and (min-width: $screen-md) {
					font-size: 14px;
				}
			}
			.social{
				padding: 10px 0 10px 0;
				@media screen and (min-width: $screen-md) {
					padding: 10px 0 10px 0;
				}
				a{
					padding-right: 5px;
				}
			}
			span{
				display: block;
				font-size: 16px;
			}
			span, a{
				padding-bottom: 4px;
			}
		}
	}
	.footer-bottom{
		background: $currentColor;
		opacity:.7;
		padding: 10px 20px;
		text-align: center;
		@media screen and (min-width: $screen-lg) {
			padding: 10px 0;
		}
		.row{
			font-size: 0;
		}
		.left{
			font-size: 12px;
			@media screen and (min-width: $screen-md) {
				display: inline-block;
				width: 50%;
				text-align: left;
			}
			@media screen and (min-width: $screen-lg) {
				font-size: 14px;
			}
		}
		.right{
			font-size: 12px;
			@media screen and (min-width: $screen-md) {
				width: 50%;
				text-align: right;
				display: inline-block;
			}
			@media screen and (min-width: $screen-lg) {
				font-size: 14px;
			}
			a{
				padding: 0 2px;
				color: $white;
				&:hover{
					opacity: .8;
				}
				&:before{
					content:"|";
					padding-right: 4px;
					@media screen and (min-width: $screen-md) {
						content:"";
						padding:0px;
					}
				}
			}
		}
	}
}
.full-modal-news{
	display: none;
	background: rgba(255, 255, 255, .8);
	width: 100%;
	height: 100%;
	position: fixed; 
    z-index: 500; 
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    @include transition(.2s);
    &.active{
    	display: block;
    }
    .modal-newsletter{
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    transform:translate(-50%, -50%);
	    width: 600px; 
	    height: 350px;
	    max-width: calc( 100% - 20px);
	    border: 5px solid $white;
	    @media screen and (min-width: $screen-md) {
			border:none;
		}
	    .news-img{
	    	position: absolute;
	    	background: url("../img/decoidees_newsletter.jpg") no-repeat;
	    	background-size: cover;
	    	width: 100%;
	    	height: 100%;
		    text-align: center;
		    vertical-align: center;
		    span{
		    	display: block;
		    	position: relative;
		    	left: 50%;
		    	top: 20%;
		    	transform:translateX(-50%);
		    	div:first-child{
			    	font-size: 20px;
			    	margin-bottom: 5px
			    }
			    div:last-child{
			    	font-family: 'Crimson Text', serif;
			    	font-size: 50px;
			    }
		    }
	    }
		.modal-content{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.modal-shadow{
		    	position: absolute;
		    	width: 100%;
		    	height: 100%;
		    	z-index: -600;
		    	top: 5px;
		    	left: 5px;
		    	display: none;
		    	@media screen and (min-width: $screen-md) {
					display: block;
				}
		    }
			.form-box{
				display: block;
				height: 70px;
				width: 100%;
				bottom: 0;
				position: absolute;
				left: 50%;
				transform:translateX(-50%);
				text-align: center;
				padding: 5px;
				box-sizing:border-box;
				background:$light;
				form{
					display: block;
					margin: auto;
					width: 100%;
					position: relative;
					max-width: 350px;
					margin: 10px auto;
					input{
						background: transparent;
						border: 2px solid $white;
						width: 100%;
						height: 36px;
						box-sizing:border-box;
						padding: 5px;
						display: block;
						font-size: 14px;
						color: $dark;
						@media screen and (min-width: $screen-md) {
							width: 100%;
						}
					}
					:invalid {
					  box-shadow: none;
					}
					::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: $dark;
					}
					::-moz-placeholder { /* Firefox 19+ */
					  color: $dark;
					}
					:-ms-input-placeholder { /* IE 10+ */
					  color: $dark;
					}
					:-moz-placeholder { /* Firefox 18- */
					  color: $dark;
					}
					input[type='submit']{
						@include transition(.2s);
						display: block;
						position: absolute;
						width: 30px;
						height: 36px;
						top: 0;
						right: 5px;
						border:none;
						color: $white;
						font-size: 14px;
						cursor: pointer;
					}
				}
			}
			.modal-closebtn{
				display: block;
				position: fixed;
				z-index: 10px;
				cursor: pointer;
				width: 20px;
				height: 20px;
				position: absolute;
				top: 10px;
				right: 10px;
				cursor: pointer;
				padding: 0;
				@media screen and (min-width: $screen-md) {
					top: 10px;
					right: 15px;
				}
				&:hover{
					span{
						&:before{
							transform:translate(0,0) rotate(135deg);
						}
						&:after{
							transform:translate(0,0) rotate(45deg);
						}
					}
				}
				span{
					display: block;
					width: 100%;
					height: 2px;
					background: transparent;
					position: relative;
					top: 50%;
					left: 50%;
					transform:translate(-50%, -50%);
					&:before, &:after{
						content:"";
						background-color: $black;
						display: block;
						width: 100%;
						height: 3px;
						position: absolute;
						top: 0%;
						@include transition(.2s);
					}
					&:before{
						transform:translate(0,0) rotate(45deg);
					}
					&:after{
						transform:translate(0,0) rotate(-45deg);
					}
					
				}
			}
		}

	}
}
.leaderboard{
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 100%;    
	background-color: rgba(255,255,255,0.4);
    max-height: 260px;
    z-index: 7000;
    transform:translateX(-50%);
    text-align: center;
    display: none;
    &.active{
		display: block;
    }
	.ad-closebtn{
		display: block;
		position: fixed;
		z-index: 10px;
		cursor: pointer;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 5px;
		right: 10px;
		cursor: pointer;
		padding: 0;
		@media screen and (min-width: $screen-md) {
			top: 10px;
			right: 14px;
		}
		&:hover{
			span{
				&:before{
					transform:translate(0,0) rotate(135deg);
				}
				&:after{
					transform:translate(0,0) rotate(45deg);
				}
			}
		}
		span{
			display: block;
			width: 100%;
			height: 2px;
			background: transparent;
			position: relative;
			top: 50%;
			left: 50%;
			transform:translate(-50%, -50%);
			&:before, &:after{
				content:"";
				background-color: $black;
				display: block;
				width: 100%;
				height: 3px;
				position: absolute;
				top: 0%;
				@include transition(.2s);
			}
			&:before{
				transform:translate(0,0) rotate(45deg);
			}
			&:after{
				transform:translate(0,0) rotate(-45deg);
			}
			
		}
	}
}
//Pagination
.navigation{
	text-align: center;
	li{
		margin: 0;
		margin-right: 3px;
		display: inline;
		&>span{
			background-color: #818181 !important;
			cursor: pointer;
			color: $light !important;
			padding: 5px !important;
		}
		&.active {
			background-color: #f4F4F4;
			a{
				background-color: #818181;
				cursor: pointer;
				padding: 5px;
				color: $light !important;
			}
		}
		&.disabled{
			color: #fff;
			text-decoration:none;
			background-color: #F2F2F2;
			cursor: pointer;
			padding: 5px;
		}
		a, span{
			line-height: 30px;
			color: #fff;
			text-decoration:none;
			font-size: 16px;
			font-weight: bold;
			background-color: #F2F2F2;
			cursor: pointer;
			@media screen and (min-width: $screen-md) {
				font-size: 12px;
			}
			&:hover{
				background-color: #f4F4F4;
			}
		}
		a{
			padding: 5px;
		}
	}
	
}
// Fancybox plugin
.fancybox-overlay{
	.fancybox-wrap{
		.fancybox-skin{
			padding: 5px !important;
			border-radius: 0 !important;
			.fancybox-outer{
				.fancybox-inner{
					.fancybox-image{

					}
				}
				.fancybox-nav{
					width: 40px !important;
					height: 60px !important;
					display: block !important;
					position: absolute !important;
					background: none !important;
					span{
						width: 40px;
						height: 6px;
						display: block;
						position: absolute;
						left: 50%;
						margin: 0;
						padding: 0;
						visibility: visible;
						&.control-top{
							top: 15px;
							transform: translateX(-50%) rotate(45deg);
						}
						&.control-bottom{
							transform: translateX(-50%) rotate(-45deg);
							top: 40px;
						}
					}
					&.previous{
						top: 50%;
						left: 0px;
						transform: translateY(-50%) rotate(180deg) scale(.5,.5);
						@media screen and (min-width: $screen-md) {
							transform: translateY(-50%) rotate(180deg) scale(1,1);
							left: 10px;
						}
					}
					&.next{
						top: 50%;
						right: 0px;
						transform: translateY(-50%) scale(.5,.5);
						@media screen and (min-width: $screen-md) {
							transform: translateY(-50%) scale(1,1);
							right: 10px;
						}
					}
				}
			}
			.fancybox-close{
				background: none !important;
				width: 40px;
				height: 40px;
				top: -20px;
				right: 0;
				transform: translateY(-50%) scale(.8,.8);
				@media screen and (min-width: $screen-md) {
					transform: translateY(-50%) scale(1,1);
					top: 20px;
				}
				span{
					width: 30px;
					height: 4px;
					display: block;
					position: absolute;
					left: 50%;
					top: 50%;
					margin: 0;
					padding: 0;
					visibility: visible;
					@include transition(.2s);
					&:nth-of-type(1){
						transform: translate(-50%, -50%) rotate(45deg);
					}
					&:nth-of-type(2){
						transform: translate(-50%, -50%) rotate(-45deg);
					}
				}
				&:hover{
					span{
						&:nth-of-type(1){
							transform:translate(-50%, -50%) rotate(135deg);
						}
						&:nth-of-type(2){
							transform:translate(-50%, -50%) rotate(45deg);
						}
					}
				}
			}
		}
	}
}
.author{
	.main-wrapper{
		main{
			.container-main{
				.full-content{
					.author{
						text-align: left;
						position: relative;
						margin: 20px 0 10px;
						font-size: 12px;
						font-weight: bold;
						padding: 10px;
						background: #f2f2f2;
						width: calc(100% - 20px);
						@media screen and (min-width: $screen-md) {
							font-size: 16px;
							padding: 0px;
							background: none;
							width: 100%;
						}
						.author-name{
							font-family: 'Lato', sans-serif;
							text-transform: uppercase;
							font-size: 16px;
							display: inline-block;
						}
						.author-title{
							font-family: 'Lato', sans-serif;
							font-size: 14px;
							&:before{
								content: " | ";
							}
							display: block;
							@media screen and (min-width: $screen-md) {
								display: inline-block;
							}
						}
						.author-infos{
							font-size: 0;
							margin-top: 10px;
							.author-social{
								vertical-align: top;
								width: 25px !important;
								display: inline-block;
								padding-right: 5px;
								@media screen and (min-width: $screen-md) {
									padding:none;
								}
								a{
									display: block;
									width: 20px;
									padding: 1px 0;
									&.sprite{
										width: 25px;
										height: 25px;
										&.sprite-instagram{
											background-position: -100px -30px;
										}
										&.sprite-pinterest{
											background-position: -50px -30px;
										}
										&.sprite-email{
											background-position: -75px -30px;
										}
									}
								}
							}
							.author-data{
								vertical-align: top;
								display: inline-block;
								width: calc(100% - 50px) !important;
								@media screen and (min-width: $screen-md) {
									background: #f2f2f2;
									padding: 10px;
								}
								.author-avatar{	
									display: inline-block;
									vertical-align: top;
									width: 60px !important;
									margin-right: 10px;
									@media screen and (min-width: $screen-md) {
										margin-right: 0px;
									}
								}
								.author-description{
									display: inline-block;
									text-align: left;
									width: calc(100% - 80px) !important;
									vertical-align: top;
									margin-left: 20px;
									font-weight: 500;
									margin-bottom: 0 !important;
									@media screen and (min-width: $screen-md) {
										width: calc(100% - 100px) !important;
										display: inline-block;
										font-size: 16px;
										line-height: 22px;
										text-align: center;
									}
									span{
										text-align: left !important;
									    font-size: 12px;
									    line-height: 14px;
									    @media screen and (min-width: $screen-md) {
											display: inline-block;
											font-size: 16px;
											line-height: 22px;
											
										}
									}
									&.full{
										margin-bottom: 0 !important;
										width: calc(100% - 120px) !important;
										@media screen and (min-width: $screen-md) {
											padding-left: 20px;
										}
									}
								}
							}
						}
						@media screen and (min-width: $screen-md) {
							&:after{
								content:'';
								display: block;
								width: 100%;
								height: 2px;
								background-color:$dark;
								margin: 40px 0 20px;
							}
						}
					}
				}
			}
		}
	}
}
.main-related-title{
	text-align: center !important;
	display: block;
	font-size: 1.5rem !important;
	font-family: 'Crimson Text', serif !important;
	text-align: center !important;
	color: $currentColor;
	margin: 20px 0  30px !important;
	@media screen and (min-width: $screen-md) {
		margin-top: 20px !important;
		font-size: 2rem !important;
	}
}

/*Copyright*/
.copyright{
    position: absolute;
    bottom: 2px;
    left: -5px;
    padding: 0px 5px;
}
.copyright span{
     margin:0;
     color: white;
     transition:.1s ease-in-out;
     font-size: 14px;
}
.copyright .photo-credit{
   opacity: 1;
   padding-right: 10px;
}
.copyright .credit{
   padding: 0 5px;
}
// .copyright:hover .photo-credit{
//    opacity: 1;
// }
/* Template recette*/
.recette .bb_ingredients{
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  display: block;
  color: white;
  margin-bottom: 20px;
  vertical-align: top;
  a{
  	color: white !important;
  	text-decoration: underline;
  }
  li{
  	vertical-align: top;
	display: inline-block;
	width: calc(50% - 10px);
	margin: 0 5px;
  }
}
@media screen and (min-width: 768px) {
  .recette .bb_ingredients{
    padding: 20px;
    display: inline-block;
    margin-right: 10px;
    //width: calc(40% - 10px);
  }
}
.recette .bb_ingredients ul{
  //padding-left: 30px;
}
.recette ol{
  margin: 0 !important;
  margin-left: 50px !important;
  width:  calc(100% - 50px) !important;
}
@media screen and (min-width: 768px) {
  .recette ol{
    margin: 0;
  }
  .recette .bb_content{
    box-sizing: border-box;
    vertical-align: top;
    padding: 20px;
    display: inline-block;
    margin-left: 10px;
    //width: calc(60% - 10px) !important;
  }
}
.recette ol li{
  list-style-type: none;
  padding: 10px 0;
  position: relative;
  img{
  	display: block;
  	margin-top: 20px;
  }
}
.recette ol li:before{
  color: black;
  padding: 10px;
  font-weight: bold;
  position: absolute;
  left: -50px;
  top: 5px;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .recette ol li{
    line-height: 25px;
  }
  .recette ol li:before{
    font-size: 40px;
  }
}
.recette ol li:nth-of-type(1):before{
  content: '1.';
  display: inline-block;
}
.recette ol li:nth-of-type(2):before{
  content: '2.';
  display: inline-block;
}
.recette ol li:nth-of-type(3):before{
  content: '3.';
  display: inline-block;
}
.recette ol li:nth-of-type(4):before{
  content: '4.';
  display: inline-block;
}
.recette ol li:nth-of-type(5):before{
  content: '5.';
  display: inline-block;
}
.recette ol li:nth-of-type(6):before{
  content: '6.';
  display: inline-block;
}
.recette ol li:nth-of-type(7):before{
  content: '7.';
  display: inline-block;
}
.recette ol li:nth-of-type(8):before{
  content: '8.';
  display: inline-block;
}
.recette {
  font-size: 0 !important;
  position: relative;
}
.recette h2{
  text-transform: uppercase;
  
}
@media screen and (min-width: 768px) {
  .recette h2{
   
  }
}
.recette .bb_infos{
 padding: 5px;
 font-size: 16px;
}
.recette .bb_infos div{

 
}
@media screen and (min-width: 768px) {
  .recette .bb_infos{
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    padding: 5px;
  }
  .recette .bb_infos:before{
      content: "";
      background: url('http://web.archive.org/web/20170211163132im_/http://www.decoidees.be/wp-content/themes/custom_theme/site/assets/img/cook-icon.png') center center no-repeat;
      background-size: contain;
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto;
  }
  .recette.diy .bb_infos:before{
      content: "";
      background: url('http://web.archive.org/web/20170211163132im_/http://www.decoidees.be/wp-content/themes/custom_theme/site/assets/img/diy-icon.png') center center no-repeat;
      background-size: contain;
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto;
  }
}
.recette .bb_infos div{
  color: white;
  padding: 5px;
  text-align: center;
}
.recette .bb_infos div:first-child{
  text-transform: uppercase;
}
.recette .bb_infos .cuisson{
    font-size: 10px !important;
    padding-top: 0 !important;
}
@media screen and (min-width: 768px) {
  .recette .bb_infos div{
    font-size: 18px;
    padding: 5px;
  }
}
.recette .chapo p{
    font-weight: bold;
}
.recette .bb_source p{
    opacity: .6;
    font-size: 12px !important;
}
@media screen and (min-width: 768px) {
  .recette .bb_source p{
    text-align: right !important;
    font-size: 14px !important;
  }
}
.swiper-main{
	.swiper-container{
		.swiper-wrapper{
			.swiper-slide{
				margin-bottom: 40px;
				img{
					margin-bottom: 10px;
				}
				.swiper-compteur{
					font-weight: bold;
					margin-bottom: 20px;
					font-size:16px;
					@media screen and (min-width: $screen-md) {
						font-size:20px;
					}
				}
				.legend{
					text-align: center;
					margin-bottom: 30px;
					font-style: italic;
				}
				.shop-button{
					padding: 8px 10px 5px 10px;
					border: 2px solid $black;
					cursor: pointer;
					a{
						font-weight: bold;
						color: $black !important;
					}
					&:hover{
						opacity: .6;
					}
				}
			}
		}
		.swiper-button-prev{
			background-image: url("../img/arrow.svg") !important;
			transform:rotate(180DEG);
			top: 40%;
		}
		.swiper-button-next{
			background-image: url("../img/arrow.svg") !important;
			top: 40%;
		}
	}
}
/* Super Gallery*/
.gallery-main{
	.gallery-container{
		.gallery-wrapper{
			.gallery-slide{
				text-align: center;
				margin: 10px 0 30px;
				border-bottom: 2px solid black;
				padding-bottom: 30px;
				@media screen and (min-width: $screen-md) {
					margin: 30px 0 60px;
					padding-bottom: 60px;
				}
				.gallery-compteur{
					display: block;
					font-size: 1.8rem;
					font-family: 'Crimson Text', serif;
					@media screen and (min-width: $screen-md) {
						font-size: 2.5rem;
					}
				}
				img{
					display: block;
					margin: 20px auto;
				}
				.legend{
					text-align: center;
					display: block;
					margin: 0 auto;
					margin-bottom: 30px;
					font-style: italic;
					p{
						text-align: center;
					}
				}
				.shop-button{
					padding: 5px 10px 5px 10px;
					border: 2px solid $black;
					cursor: pointer;
					a{
						font-weight: bold;
						color: $black !important;
					}
					&:hover{
						opacity: .6;
					}
				}
			}
		}
	}
}
// Ventures
.footer-ventures{
    font-size: 0;
    padding: 0px 30px;
    vertical-align: top;
    opacity: .7;
    @media screen and (min-width: $screen-md){
        background: black;
        padding: 0px 5px;
    }
    .site-inner{
        color: black;
        position: relative;
        @media screen and (min-width: $screen-md){
            //padding: 10px 0px;
            color: white;
            background: black;
        }
    }
    .ventures-logo{
        display: none;
        @media screen and (min-width: $screen-md){
            display: inline-block;
            margin: 10px 0;
            width: 50%;
        }
        img{
            width: 90px;
            height: auto;
        }
    }
    .footer-right{
        @media screen and (min-width: $screen-md){
            margin: 5px 0;
            display: inline-block;
            width: 50%;
            text-align: right;
            vertical-align: top;
        }
        span{
        	text-align: center;
            font-family: 'Lato', sans-serif;
            font-size: .8rem;
            //text-transform: uppercase;
            padding: 10px 0;
            display: block;
            cursor: pointer;
            color: $white;
            @media screen and (min-width: $screen-md){
            	text-align: right;
               font-size: .8rem;
               text-transform: none;
               font-family: 'Crimson Text', serif;
            }
            small{
                display: none;
                @media screen and (min-width: $screen-md){
                   display: inline-block;
                }
            }
            &:after{
                content:"";
                display: inline-block;
                background: url("../img/arrow.png") no-repeat  no-repeat;
                width: 25px;
                position: relative;
                transform: scale(.6);
                top: 3px;
                height: 15px;
                margin: 0 10px;
                @media screen and (min-width: $screen-md){
                	margin: 0;
                }
            }
            @media screen and (min-width: $screen-md){
               &:hover{
                 opacity: .6;
               }
            }
        }
        &.active-on{
            span{
                &:after{
                    transform: scale(.6) rotate(180DEG);
                }
            }
        }
        .sites_selector{
            height: 0;
            overflow: hidden;
            &.active-on{
                height: auto;
            }
            li{
                display: block;
                padding: 5px 0;
               	margin-right: 25px;
                &:last-child{
                    margin-bottom: 10px;
                }
                a{
                	font-family: 'Lato', sans-serif;
                    font-size: .9rem;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                    @media screen and (min-width: $screen-md){
                       color: white;
                       &:hover{
                         opacity: .6;
                       }
                    }
                }
            }
        }
    }
}
